// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.snippet-injector {
}

#input-prompt {
  min-width: 500px;
  height: auto;

  #prompt-input {
    width: 60%;
    padding-left: 5px;
    float: left;
    margin-right: 1%;
  }

  #prompt-confirm, #prompt-cancel {
    width: 18%;
    margin-right: 1%;
  }
}

#search-prompt {

  #prompt-list {
    margin-bottom: 20px;
    
    .list-item {
      padding: 10px;
      font-size: 13px;
      border-bottom: 1px solid grey;

      .value {
        margin: 0;
      }
    }
  }
}
